html {
    width: 100%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; # gut - aber typischerweise alles eher in den body, auf das html willst du eigentlich nicht stylen
} 
# Leerzeile vor öffnender Klammer
body {
# Keine Leerzeile danach (dient besserer Lesbarkeit, du gruppierst dann zusammengehöriges besser)
    align-self: center; # bewirkt nichts an der Stelle - außerhalb deines body liegt kein flex mehr
    background-color: whitesmoke;
    border: 1px solid grey;
    box-shadow: -2px -2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: row; # das ist der default, den solltest du weglassen, wenn du hier nicht etwas überschreibst
    justify-content: space-between;
}
h2 {
    text-transform: uppercase;
}
.option {
    padding: 20px 70px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 20px 30px;
    background-color: rgb(235, 221, 255);
    font-weight: bold;
    text-align: center;
}
.option:hover {
    background-color: darkblue;
    color: white;
    transition: 1s ease; # spezifizieren, was alles transitioned werden soll - wenn alles, dann ruhig all 1s ease; normalerweise willst du ein ease-in-out (selten ein ease-in oder ease-out), das wirkt angenehmer; 1s ist extrem lang - standardwert bei uns ist hier 0.3s, teils auch nur die Hälfte bei zusammengesetzten Animationen, ganz, ganz selten mal 0.6s
}
.option:hover > button {
    background-color: white;
    color: darkblue;
    border: none;
    cursor: pointer; # gut
    transform: scale(1.1); # nice
    transition: 1s ease; # s.o.
}
.option-name {
    text-transform: uppercase; # gut, besser als es direkt groß ins HTML zu schreiben imo
}
h3 { # Reihenfolge vielleicht ändern - deine h2 steht ganz wo anders
    # am besten erst alle tags (body, h2, h3, button, ...), dann alle Klassen (.feature, .option, ...), dann ids
    font-size: 30px;
}
.feature {
    border-top: solid black 1px;
    font-size: 15px;
    padding-top: 10px;
}
button {
    border-radius: 3px;
    background-color: blue;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px; # das ist die Ausnahme zu unten, hier sind Kommazahlen erlaubt - normalerweise setzt du letter-spacing aber nur, wenn da irgendein Designer das so will
    padding: 10px;
    font-size: 15px;
    border: solid 1px blue;
    box-shadow: 0.5px 0.5px darkblue; # nein, halbe Pixel wollen wir nicht - die Browser runden das ohnehin, zum Teil jedoch unterschiedlich
}
.hidden {
    display: none;
}
.details {
    width: 70%;
}
.details h3 {
    text-transform: uppercase;
}
.details button { # das überschreibt den button, sollte direkt unter ihm stehen
    margin: 50px 0;
}

#evtl in mehrere files aufsplitten, z.b. button.css, headline.css, details.css, ...
